*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.nav{
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px 0 20px;
    position: sticky;
    top: 0;
}